
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');


.App {
  
  /* background-image: linear-gradient(rgb(32, 54, 255),rgb(0, 28, 141)); */
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  height : 100vh;
  padding: 60px;
  font-family: "work sans";
}

/* height: 100%;
  
text-align: center;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white; */